*{
    padding: 0;
    margin: 0;
}

.clr{
    clear: both;
}


/* common css end */

.menu-bg{
    width: 100%;
    height: 100px;
    background-color: #171a38f3;
}

.menu-bg .menu-content{
    width: 960px;
    height: 100%;
    background: #57e947;
    margin: 0 auto;
}








/* menu css end */